.bridge-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 32px;
  background-color: #fff;
  padding: 40px 24px 32px;

  &.gold,
  &.silver,
  &.bronze {
    padding-top: 55px;

    &::before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 62px;
      height: 62px;
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-weight: 600;
      border-radius: 50%;
      position: absolute;
      top: -21px;
      left: 34px;
    }

    .bridge-card__title-counter {
      display: none;
    }
  }

  &.gold {
    border: #FFE8B0 1px solid;

    &::before {
      content: '1';
      background-image: url('../../images/gold-bg.svg');
      color: #E5B66E;
    }
  }

  &.silver {
    border: #D7D7D7 1px solid;

    &::before {
      content: '2';
      background-image: url('../../images/silver-bg.svg');
      color: #ADADAD;
    }
  }

  &.bronze {
    border: #F0AF8B 1px solid;

    &::before {
      content: '3';
      background-image: url('../../images/bronze-bg.svg');
      color: #F0AE88;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    @media (max-width: 1080px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    max-height: 28px;

    @media (max-width: 1080px) {
      margin-bottom: 10px;
    }
  }

  &__reviews-block {
    display: flex;
    align-items: center;

    @media (max-width: 1080px) {
      flex-direction: row-reverse;
    }
  }

  &__reviews {
    font-size: 14px;
    color: #99A1AB;
    margin-right: 8px;
  }

  &__rate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid;
    color: $font-dark;
    font-size: 18px;

    @media (max-width: 1080px) {
      margin-right: 8px;
    }

    &.excellent {
      border-color: #07B142;
    }

    &.notbad {
      border-color: #FFB347;
    }

    &.bad {
      border-color: #CB2D3E;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: $font-dark;
    position: relative;
    margin: 0 0 10px;
  }

  .bridge-card__title-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $blue;
    margin-right: 8px;
  }

  &.verified &__title {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 64px;
      height: 14px;
      background: url('../../images/verified-badge.svg') no-repeat;
      background-size: contain;
      margin-left: 5px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.3;
    color: $font-dark;
    margin: 0 0 10px;
  }

  &__tvl {
    display: block;
    background-color: #F5F7F9;
    border-radius: 3px;
    color: $blue;
    width: fit-content;
    padding: 12px;
    margin: 0 0 15px;
  }

  &__parameters {

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 13px;
    }

    &-name {
      font-size: 14px;
      line-height: 1.2;
      color: $font-dark;
      opacity: 0.45;
      margin-right: 5px;
    }

    &-value {
      font-size: 14px;
      line-height: 1.2;
      color: $font-dark;
    }
  }

  &__tags-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &-title {
      font-size: 14px;
      line-height: 1.2;
      color: $font-dark;
      opacity: 0.45;
      margin: 0 0 10px;
    }
  }
}
