.bridge-parameters {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  position: relative;
  padding: 40px 20px 20px;
  margin-bottom: 16px;

  &.gold,
  &.silver,
  &.bronze {
    padding-top: 74px;

    &::after {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 62px;
      height: 62px;
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      font-weight: 600;
      border-radius: 50%;
      position: absolute;
      top: -24px;
      right: 24px;
    }
  }

  &.gold {
    border: #FFE8B0 1px solid;

    &::after {
      content: '1';
      background-image: url('../../images/gold-bg.svg');
      color: #E5B66E;
    }
  }

  &.silver {
    border: #D7D7D7 1px solid;

    &::after {
      content: '2';
      background-image: url('../../images/silver-bg.svg');
      color: #ADADAD;
    }
  }

  &.bronze {
    border: #F0AF8B 1px solid;

    &::after {
      content: '3';
      background-image: url('../../images/bronze-bg.svg');
      color: #F0AE88;
    }
  }

  &.verified {
    &::before {
      content: '';
      display: block;
      width: 134px;
      height: 24px;
      background: url('../../images/verified-badge-inner.svg') no-repeat;
      background-size: contain;
      position: absolute;
      top: 22px;
      left: 31px;
    }
  }

  &__logo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 9px;
  }

  &__title {
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    margin: 0 0 30px;
  }

  &__button {
    padding: 0 40px;
  }

  &__parameters {
    width: 100%;
    border-top: #E9EAEA 1px solid;
    padding: 24px 0 0;
    margin-top: 26px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: $font-light;
    margin: 0 0 18px;

    a {
      color: $font-dark;
      text-decoration: none;
    }

    span {
      color: $link-gray;
    }
  }

  &__table {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: auto;
    width: 100%;
    row-gap: 8px;
    column-gap: 10px;
    margin-bottom: 20px;

    &-name {
      font-size: 16px;
      color: $font-light;
    }

    &-tag {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 1;
      color: #3F87D9;
      background-color: #F5F6F8;
      border-radius: 5px;
      word-break: break-all;
      min-height: 24px;
      width: fit-content;
      text-decoration: none;
      transition: background-color .2s;
      padding: 3px 7px;
      margin: 0 5px 5px 0;

      &:hover {
        background-color: #E1ECF9;
      }

      img {
        margin-right: 4px;
      }
    }

    &-tags {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }
  }

  &__link {
    display: block;
    font-size: 14px;
    text-align: center;
    color: #3F87D9;
    transition: color .1s;
    margin: 0 auto;

    &:hover {
      color: $blue;
    }
  }
}
