.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: all .2s;

  &:hover {
    background-color: #2485FF;
    color: white;
  }

  &:focus {
    outline: none;
    border: $blue 1px solid;
  }

  img {
    margin-right: 8px;
  }

  &_primary {
    height: 54px;
  }

  &_secondary {
    border: #C4C4C4 1px solid;
    background-color: #fff;
    color: $blue;
    height: 54px;

    &:hover {
      border-color: $blue;
      background-color: #fff;
      color: $blue;
    }
  }

  &_secondary-blue {
    border: $blue 1px solid;
    background-color: #fff;
    color: $blue;
    height: 54px;

    &:hover {
      border-color: $blue;
      background-color: #fff;
      color: $blue;
    }
  }

  &_popup {
    height: 48px;
  }

  &_light-blue {
    background-color: $light-blue;
    color: $blue;
  }
}
