.card-tags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 11px;

  &__show-more {
    display: none;
    flex-wrap: wrap;
    max-width: 350px;
    position: absolute;
    top: -50%;
    right: 0;
    transform: translateY(-50%);
    background: rgba(26, 25, 34, 0.9);
    border-radius: 12px;
    padding: 20px 24px;

    &.active {
      display: flex;
    }

    &-close {
      display: block;
      width: 10px;
      height: 10px;
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0801 1.74573L10.2552 0.920898L6.00098 5.17513L1.74671 0.920898L0.921875 1.74573L5.17614 5.99996L0.921875 10.2542L1.74671 11.079L6.00098 6.8248L10.2552 11.079L11.0801 10.2542L6.82581 5.99996L11.0801 1.74573Z' fill='%23F4F6FB'/%3E%3C/svg%3E%0A") no-repeat;
      background-size: contain;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
}
