.feedback-popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba($color: #000000, $alpha: .44);
	z-index: -1;
	opacity: 0;
	transition: all .3s;

	&.active {
		z-index: 999999;
		opacity: 1;
	}

	&__container {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%) scale(.8);
		opacity: 0;
		background-color: #fff;
		border-radius: 18px;
		width: 95%;
		max-width: 725px;
		max-height: 95vh;
		overflow-y: scroll;
		transition: all .3s;
		padding: 32px 120px;

		@media (max-width: 768px) {
			padding: 32px;			
		}

		&::-webkit-scrollbar {
			display: none;
		}

		&::before {
			content: '';
			display: block;
			width: 49px;
			height: 185px;
			background: url('../../images/pattern-img.svg') no-repeat;
			background-size: contain;
			position: absolute;
			top: 0;
			left: 24px;
		}

		&::after {
			content: '';
			display: block;
			width: 49px;
			height: 185px;
			background: url('../../images/pattern-img.svg') no-repeat;
			background-size: contain;
			position: absolute;
			bottom: 0;
			right: 24px;
		}

		&::before,
		&::after {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	&.active &__container {
		transform: translateX(-50%) translateY(-50%) scale(1);
		opacity: 1;
	}

	&__close {
		width: 24px;
		height: 24px;
		border: none;
		background: transparent url('../../images/popup-close-icon.svg') no-repeat center;
		position: absolute;
		top: 30px;
		right: 72px;
		transition: all .3s;
		cursor: pointer;

		@media (max-width: 768px) {
			top: 20px;
			right: 20px;
		}

		&:hover {
			transform: rotate(.25turn);
		}
	}

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 34px;
	}

	&__title-image {
		margin-bottom: 16px;
	}
	
	&__title {
		text-align: center;
		margin: 0 0 24px;
	}

	&__description {
		font-size: 16px;
		line-height: 1.25;
		color: rgba(21, 25, 32, 0.7);
		text-align: center;
		margin: 0 0 24px;
	}

	&__socials {
		display: flex;
		align-items: center;
	}

	&__socials-item {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 18px;

		@media (max-width: 768px) {
			font-size: 14px;
		}

		&:not(:last-of-type) {
			margin-right: 24px;
		}

		img {
			margin-right: 6px;
		}
	}

	&__divider {
		height: 20px;
		background: url('../../images/divider-bg.svg') left center repeat-x;
		position: relative;
		margin-bottom: 34px;

		&::after {
			content: 'AND';
			display: block;
			font-size: 16px;
			font-weight: 600;
			color: rgba($color: #000000, $alpha: .2);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: #fff;
			padding: 0 11px;
		}
	}

	&__form {
		margin-top: 46px;

		.text-input {
			margin-bottom: 16px;

			&:last-of-type {
				margin-bottom: 24px;
			}
		}
	}

	&__form-button {
		width: 100%;
	}

	&__confirmation {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%) scale(.8);
		opacity: 0;
		background-color: #fff;
		border-radius: 18px;
		width: 95%;
		max-width: 445px;
		max-height: 95vh;		
		transition: all .3s;
		padding: 32px 94px;

		@media (max-width: 768px) {
			padding: 32px;			
		}

		img {
			margin-bottom: 30px;
		}
		
		.feedback-popup__close {
			right: 30px;
			top: 30px;
		}

		.btn {
			width: 100%;
		}

		.feedback-popup__description {
			margin-bottom: 32px;
		}
	}

	&.active &__confirmation {
		transform: translateX(-50%) translateY(-50%) scale(1);
		opacity: 1;
	}
}