.footer {
  background-color: #0B0D17;

  &__container {
    padding-top: 60px;
  }

  &__menu {
    @media (max-width: 780px) {
      width: 100%;
    }

    ul {
      @media (max-width: 780px) {
        justify-content: space-between;
        width: 100%;
      }

      @media (max-width: 440px) {
        flex-direction: column;
      }

      li {

        a {
          color: white;
        }

        &:not(:last-of-type) {
          margin-right: 80px;

          @media (max-width: 780px) {
            margin: 0;
          }

          @media (max-width: 440px) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  &__menu-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: #3C3D45 1px solid;

    @media (max-width: 780px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding-bottom: 50px;
      margin: 0;
    }

    img {
      @media (max-width: 780px) {
        margin-bottom: 40px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 780px) {
      padding: 40px 0;
    }

    @media (max-width: 540px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__copyrights {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: white;

    @media (max-width: 780px) {
      flex-direction: column;
    }

    @media (max-width: 540px) {
      order: 2;
    }

    span {
      &:not(:last-child) {
        margin-right: 32px;

        @media (max-width: 780px) {
          margin: 0 0 15px;
        }
      }

      &:nth-child(2) {
        a {
          color: white;
          text-decoration: none;
          transition: color .2s;

          &:hover {
            color: $blue;
          }
        }
      }

      &:nth-child(3) {
        a {
          color: $blue;
          text-decoration: none;
          transition: color .2s;

          &:hover {
            color: #2485FF;
          }
        }
      }
    }
  }

  &__socials {
    display: flex;
    padding: 24px 0 25px;

    @media (max-width: 540px) {
      order: 1;
      width: 100%;
      justify-content: space-between;
      padding: 0 0 40px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: #23252E;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color .2s;

      @media (max-width: 780px) {
        width: 48px;
        height: 48px;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }

      &:hover {
        background-color: $blue;
      }

      img {
        @media (max-width: 780px) {
          width: 40%;
        }
      }
    }
  }
}
