.header {

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
  }

  &__menu {
    ul {
      li {
        a {
          font-weight: 400;
          color: $link-gray;
        }
      }

      li:not(:last-of-type) {
        margin-right: 80px;
      }
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__cta-block {
    display: flex;
    align-items: center;
  }

  &__cta {
    height: 42px;
    padding: 0 42px;
    display: none;

    &.btn {
      @media (max-width: 520px) {
        display: none;
      }
    }
  }
}
