.hero-section {
  padding-bottom: 48px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;

    @media (max-width: 920px) {
      flex-direction: column;
    }

    @media (max-width: 420px) {
      padding: 0;
    }
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    order: 0;

    @media (max-width: 920px) {
      align-items: center;
      order: 2;
      margin: 40px 0;
    }

    @media (max-width: 375px) {
      align-items: flex-start;
    }
  }

  &__title {
    max-width: 460px;
    margin: 0 0 15px;

    span {
      color: $blue;
    }

    @media (max-width: 920px) {
      text-align: center;
    }

    @media (max-width: 375px) {
      text-align: left;
    }
  }

  &__subtitle {
    font-size: 21px;
    color: $font-dark;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;

    @media (max-width: 920px) {
      text-align: center;
    }

    @media (max-width: 375px) {
      text-align: left;
    }
  }

  &__main-image {
    order: 2;
  }

  &__bridge-image {
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    width: 100%;
    max-width: 300px;
    background: url('../../images/hero-bridge-bg.png') no-repeat right bottom;
    order: 3;
    padding: 30px 25px;

    img {
      margin-bottom: 5px;
    }
  }

  &__bridge-image-title {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding-right: 22px;
    width: fit-content;
    margin: 0 0 6px 0;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      display: block;
      width: 16px;
      height: 16px;
      background: url('../../images/hero-bridge-badge.svg') no-repeat;
      background-size: contain;
    }
  }

  &__bridge-image-subtitle {
    font-size: 14px;
    color: $font-light;
    line-height: 1.33;
    max-width: 112px;
    margin: 0;
  }
}
