.hot-news {

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 440px;
    gap: 20px;

    @media (max-width: 860px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    position: relative;
    border-radius: 18px;
  }

  &__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }

  &__card-gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(0deg, #0070FF 45.7%, rgba(0, 112, 255, 0) 92.76%);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &__card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 18px 0 20px;

    @media (max-width: 1160px) {
      flex-direction: column;
      align-items: flex-start;
    }

    img {
      @media (max-width: 1160px) {
        margin-bottom: 15px;
      }
    }
  }

  &__card-tag {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.01em;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 20px;
    padding: 4px 6px 2px 6px;
  }

  &__card-title-block {
    padding: 0 18px 18px 20px;
  }

  &__card-title {
    font-size: 21px;
    font-weight: 600;
    color: white;
    margin: 0 0 9px 0;
  }

  &__card-description {
    font-size: 14px;
    line-height: 1.3;
    color: white;
    margin: 0 0 13px;
  }

  &__card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card-date {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    opacity: .65;
    color: white;
  }

  &__card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    transition: all .2s;

    svg {
      transition: all .2s;
    }

    &:hover {
      box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.5);

      svg {
        fill: $blue;
      }
    }
  }
}
