.pagination-button {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  border: none;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.11959e-07 9L12.17 9L6.58 14.59L8 16L16 8L8 -6.99382e-07L6.59 1.41L12.17 7L7.86805e-07 7L6.11959e-07 9Z' fill='%230071FF'/%3E%3C/svg%3E") no-repeat;
    background-size: contain;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
  }

  &_prev::after {
    content: '';
    transform: rotate(.5turn);
  }

  &[disabled] {
    background-color: #E3E9F1;
    cursor: auto;

    &::after {
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.11959e-07 9L12.17 9L6.58 14.59L8 16L16 8L8 -6.99382e-07L6.59 1.41L12.17 7L7.86805e-07 7L6.11959e-07 9Z' fill='%23A8B5C0'/%3E%3C/svg%3E") no-repeat;
    }
  }
}
