.path-link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: $font-dark;
  position: relative;
  text-decoration: none;
  width: fit-content;
  transition: color .2s;
  padding-left: 12px;
  margin-bottom: 24px;

  &::before {
    content: '';
    display: block;
    width: 5px;
    height: 8px;
    background: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 3.29289C-0.0976311 3.68342 -0.0976311 4.31658 0.292893 4.70711L3.29289 7.70711C3.68342 8.09763 4.31658 8.09763 4.70711 7.70711C5.09763 7.31658 5.09763 6.68342 4.70711 6.29289L2.41421 4L4.70711 1.70711C5.09763 1.31658 5.09763 0.683418 4.70711 0.292893C4.31658 -0.0976311 3.68342 -0.0976311 3.29289 0.292893L0.292893 3.29289Z' fill='%23142438'/%3E%3C/svg%3E") no-repeat;
    background-size: contain;
    transition: all .3s;
    position: absolute;
    left: 0;
    top: 4px;
  }

  &:hover {
    color: $blue;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 3.29289C-0.0976311 3.68342 -0.0976311 4.31658 0.292893 4.70711L3.29289 7.70711C3.68342 8.09763 4.31658 8.09763 4.70711 7.70711C5.09763 7.31658 5.09763 6.68342 4.70711 6.29289L2.41421 4L4.70711 1.70711C5.09763 1.31658 5.09763 0.683418 4.70711 0.292893C4.31658 -0.0976311 3.68342 -0.0976311 3.29289 0.292893L0.292893 3.29289Z' fill='%230071FF'/%3E%3C/svg%3E");
      left: -5px;
    }
  }
}
