.quotes {
  background: #F4F6FB;
  border-top: 1px solid #DDDEDE;
  border-bottom: 1px solid #DDDEDE;
  margin-bottom: 50px;

  .wrap {
    @media (max-width: 1100px) {
      max-width: none;
      padding: 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @media (max-width: 1100px) {
      overflow-x: scroll;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Inter', sans-serif;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    @media (max-width: 1100px) {
      left: 40px;
    }

    @media (max-width: 420px) {
      left: 20px;
    }

    span {
      font-size: 18px;
      text-transform: uppercase;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;

      &_btc {
        background-color: #F7931A;
      }

      &_eth {
        background-color: #D2D5D6;
      }

      &_xmr {
        background-color: #EEF1F3;
      }

      &_dash {
        background-color: #C9DCED;
      }
    }

    &-name {
      color: $font-light;
    }

    &-currency {
      letter-spacing: 0.01em;
    }

    &-grow {
      color: #51AE6F;
    }
  }
}

.main_inner-page .quotes {
  margin-bottom: 30px;
}
