.rankings {

  .section-title {
    margin-bottom: 26px;

    @media (max-width: 520px) {
      margin-bottom: 16px;
    }
  }

  &__networks-button {
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid $blue;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    color: $blue;
    width: 100%;
    height: 48px;
    background-color: #fff;
    margin-bottom: 33px;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('../../images/networks-button-icon.svg') no-repeat;
      background-size: contain;
      margin-right: 6px;
    }

    &-counter {
      background: #0071FF;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      color: white;
      padding: 5px 6px 3px;
      margin-left: 10px;
    }

    @media (max-width: 520px) {
      display: flex;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media (max-width: 520px) {
      display: none;
    }
  }

  &__tag {
    user-select: none;
    margin: 0 8px 8px 0;

    input[type="checkbox"] {
      position: absolute;
      width: 1px;
      height: 1px;
      appearance: none;
      clip-path: circle(0 at 0 0);
      outline: none;
      z-index: -1;

      &:checked + div {
        background: #E6F1FF;
        border: 1px solid #0071FF;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    &-container {
      display: flex;
      align-items: center;
      background: #F9F9F9;
      border: 1px solid #DEE4E8;
      border-radius: 8px;
      cursor: pointer;
      padding: 6px 8px;

      img {
        margin-right: 6px;
      }
    }
  }

  &__tabs {
    margin-bottom: 48px;
  }

  &__tab {
    font-size: 18px;
    font-weight: 400;

    &:not(:last-of-type) {
      margin-right: 64px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    margin-bottom: 110px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    border-radius: 28px;
    border: 2px white solid;
    padding: 8px;

    &_verified {
      border-color: #07B142;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__card-content {
    padding-top: 15px;
    width: 100%;

    @media (max-width: 1024px) {
      padding: 15px 10px 15px;
    }

    @media (max-width: 420px) {
      padding: 15px 0 10px;
    }
  }

  &__card-image {
    height: 100%;
    max-height: 290px;
    width: 385px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 45px;

    @media (max-width: 1024px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__card-title-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
  }

  .rankings__card-title {
    font-size: 28px;
    margin: 0 0 12px 0;
  }

  &__card-main-content {
    display: flex;
    justify-content: space-between;
    flex: auto;

    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
      // height: 100%;
    }
  }

  &__card-left {
    margin-right: 85px;

    @media (max-width: 1024px) {
      margin: 0;
    }

    @media (max-width: 420px) {
      margin: 0 0 30px;
    }
  }

  &__card_verified {
    .rankings__card-title {
      padding-right: 10px;

      &::after {
        content: '';
        position: relative;
        bottom: -3px;
        right: -10px;
        display: inline-block;
        width: 135px;
        height: 24px;
        background: url('../../images/verified-badge.svg') no-repeat;
        background-size: contain;
        // margin: 3px 0 0 9px;
      }
    }
  }

  &__exchange-scheme {
    border: 1px solid #E9ECF1;
    border-radius: 3px;
    padding: 6px 10px;
    margin: 0 0 14px;
  }

  &__card-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 16px;
  }

  &__card-value-block {
    border-radius: 3px;
    background-color: #F5F7F9;
    width: fit-content;
    padding: 12px 17px 12px 10px;
    margin-bottom: 20px;
  }

  &__card-value-title {
    font-size: 16px;
    line-height: 1;
    margin: 0 0 8px;
  }

  &__card-value {
    font-size: 24px;
    color: $blue;
  }

  &__card-parameters {
    display: flex;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      list-style: none;
      height: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      color: $font-light;

      @media (max-width: 420px) {
        flex-direction: column;
        align-items: flex-start;
      }

      &:not(:last-of-type) {
        border-right: #E9ECF1 1px solid;
        padding-right: 20px;
        margin-right: 20px;
      }

      span {
        font-weight: 700;
        color: $font-dark;

        @media (max-width: 420px) {
          margin-top: 10px;
        }
      }
    }
  }

  &__cta-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 10px 0 0;

    @media (max-width: 1024px) {
      width: 100%;
      align-items: stretch;
      padding: 20px 0 0;

      .btn {
        width: 100%;
      }
    }
  }

  &__card-rating {
    display: flex;
    align-items: center;
    flex: none;

    &-revews {
      font-size: 16px;
      color: $font-light;
      margin-right: 10px;

      @media (max-width: 420px) {
        display: none;
      }
    }

    &-value {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
      font-size: 21px;
      font-weight: 500;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      border: 3px solid;
      border-color: #1CD976;
    }
  }

  &__card-buttons {
    .btn {
      padding: 0 52px;

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }
  }

  &__banner {
    img {
      width: 100%;
    }
  }

  // &__banner {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   width: 100%;
  //   height: 346px;
  //   border-radius: 18px;
  //   background: #1A1B23 url('../../images/banner-bg.jpg') no-repeat center;
  //   background-size: contain;
  //   padding: 20px;

  //   h3 {
  //     font-family: 'Inter', sans-serif;
  //     font-size: 56px;
  //     font-weight: 700;
  //     color: white;
  //     text-align: center;
  //     margin: 0 0 6px;

  //     @media (max-width: 768px) {
  //       font-size: 40px;
  //     }
  //   }

  //   p {
  //     font-size: 16px;
  //     line-height: 1.2;
  //     text-align: center;
  //     color: #9E9FA1;
  //     max-width: 400px;
  //     margin: 0 0 28px;
  //   }

  //   .btn {
  //     padding: 0 52px;
  //   }
  // }
}
