.response-form {
  background: rgba(0, 113, 255, 0.06);
  border-radius: 18px;
  padding: 32px 30px 40px;

  @media (max-width: 375px) {
    padding: 20px 15px 30px;
  }

  &__rating-block {
    margin-bottom: 26px;
  }

  &__fieldset-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 14px;
  }

  &__rating {
    display: flex;

    @media (max-width: 460px) {
      justify-content: space-between;
      width: 100%;
    }

    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        fill: #F7D41A;
      }
    }
  }

  &__textarea {
    font-size: 16px;
    line-height: 1.33;
    background: #FFFFFF;
    border: 1px solid #E5E5EC;
    border-radius: 12px;
    width: 100%;
    min-height: 156px;
    transition: all .1s;
    padding: 24px 20px;
    margin-bottom: 15px;

    &::placeholder {
      opacity: .45;
    }

    &:focus, &:active {
      outline: none;
      border-color: $blue;
    }
  }

  &__inputs-block {
    display: flex;
    margin-bottom: 24px;

    @media (max-width: 960px) {
      flex-direction: column;
    }

    input {
      flex-grow: 1;

      &:not(:last-of-type) {
        margin-right: 12px;

        @media (max-width: 960px) {
          margin: 0 0 18px;
        }
      }
    }
  }

  &__input {
    font-size: 16px;
    line-height: 1.33;
    background: #FFFFFF;
    border: 1px solid #E5E5EC;
    border-radius: 12px;
    height: 52px;
    transition: all .1s;
    padding: 0 24px;

    &::placeholder {
      opacity: .45;
    }

    &:focus, &:active {
      outline: none;
      border-color: $blue;
    }
  }

  &__cta-block {
    display: flex;
    margin-top: 60px;

    @media (max-width: 960px) {
      flex-direction: column;
    }

    button {
      height: 52px;
      box-shadow: 0px 4px 15px rgba(0, 113, 255, 0.2);
      width: fit-content;
      padding: 0 40px;
      margin-right: 35px;

      @media (max-width: 960px) {
        margin: 0 0 35px;
      }

      @media (max-width: 375px) {
        width: 100%;
        padding: 0 20px;
      }
    }

    p {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      color: #9BC6FF;
      position: relative;
      padding-left: 43px;
      margin: 0;

      &::before {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        background: url('../../images/lamp-icon.svg') no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }

  &__currency-select {
    position: relative;
    margin-left: 12px;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 6px;
      background: url('../../images/arrow-down.svg') no-repeat;
      background-size: contain;
      position: absolute;
      right: 16px;
      top: 23px;
      cursor: pointer;
      transition: all .2s;
      z-index: 9999;
    }

    &.active::after {
      transform: rotate(.5turn);
    }

    .select__input {
      min-width: auto;
      width: 170px;
      height: 52px;
      border: 1px solid #E5E5EC;

      &::placeholder {
        opacity: .45;
      }

      &:focus, &:active {
        outline: none;
        border-color: $blue;
      }
    }

    .select__dropdown {
      top: 54px;
      height: 200px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 2px;
        height: 4px;
        background-color: #FFFFFF;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        width: 2px;
        background-color: $blue;
      }
    }

    .select__item {
      margin-bottom: 8px;

      img {
        margin-right: 10px;
      }
    }
  }
}
