.section-title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  color: $font-dark;
  margin-top: 0;

  @media (max-width: 375px) {
    font-size: 34px;
  }

  &_centered {
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
