.select-mini {
  position: relative;

  &__title {
    font-size: 16px;
    color: $link-gray;
    margin: 0 0 5px;
  }

  &__input {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    position: relative;
    font-size: 16px;
    color: $blue;
    cursor: pointer;
    padding: 0 15px 0 0;
  }

  &__arrow {
    display: block;
    width: 9px;
    height: 6px;
    position: absolute;
    top: 6px;
    right: 0;
    background: url('../../images/select-arrow.svg') no-repeat;
    background-size: contain;
    transition: all .2s;
  }

  &.active &__arrow {
    transform: rotate(.5turn);
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 50px;
    width: fit-content;
    min-width: 140px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(44, 39, 56, 0.04), 0px 32px 64px rgba(44, 39, 56, 0.08);
    border-radius: 6px;
    z-index: 10;
    padding: 5px;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 42px;
    font-size: 16px;
    color: $link-gray;
    cursor: pointer;
    border-radius: 6px;
    transition: all .1s;
    padding: 0 11px;

    &:hover {
      background-color: #F5F6FA;
    }

    &.active {
      justify-content: space-between;
      color: $blue;

      &::after {
        content: '';
        display: block;
        width: 11px;
        height: 8px;
        background: url('../../images/dropdown-checked-icon.svg') no-repeat;
        background-size: contain;
      }
    }
  }
}
