.side-menu {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: .14);
  z-index: 999999;
  opacity: 0;
  transition: all .3s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__container {
    width: 100%;
    max-width: 375px;
    height: 100vh;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all .3s;    
    padding: 26px 40px;
  }

  &.active &__container {
    transform: translateX(0);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: calc(100vh - 140px);
    overflow-y: scroll;    

    &::-webkit-scrollbar {
      background-color: #DEDEDE;
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: #DEDEDE;
      width: 6px;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0071FF;
      border-radius: 3px;
    }

    &-item {
      display: flex;
      align-items: center;

      img {
        margin-right: 6px;
      }

      a {
        color: $font-dark;
        text-decoration: none;
        transition: all .2s;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  &__close {
    width: 36px;
    height: 22px;
    background: transparent url('../../images/back-arrow.svg') no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    margin-bottom: 36px;

    &:hover {
      transform: translateX(-5px);
      transition: all .3s;
    }
  }
}
