.tabs {
  display: flex;
  border-bottom: 1px solid #DDDEDE;

  &__tab {
    position: relative;
    bottom: -1px;
    color: $blue;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s;
    padding-bottom: 14px;

    &:not(.tabs__tab_active):hover {
      color: #2485FF;
    }

    &_active {
      border-bottom: 3px solid $blue;
      color: $font-dark;
      cursor: auto;
    }
  }

  &__tab-counter {
    display: inline-flex;
    border-radius: 4px;
    background-color: $blue;
    font-size: 14px;
    color: white;
    padding: 4px;
    margin-left: 9px;
  }
}
