.transfers {
	position: relative;		
	width: 464px;
	border-radius: 24px;
	background-color: #fff;
	box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.1);
	z-index: 9;
	padding: 27px;	
	margin-bottom: 24px;

	@media (max-width: 768px) {		
		max-width: 464px;
		width: 90%;
	}

	&__title {
		margin-bottom: .625vw;
	}

	&__subtitle {
		font-size: .9375vw;
		font-weight: 800;
		line-height: 2.33;
		margin-bottom: .9375vw;
	}

	&__form-head {
		display: flex;
		align-items: center;
		padding: 0 2.4vw .73vw 2.4vw;

		&-title {
			font-weight: 700;
			color: white;
			font-size: 1.25vw;
		}

		&-from {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 20.83vw;			
			margin-right: .26vw;
		}

		&-to {
			display: flex;
			align-items: center;
			padding-left: .625vw;
		}
	}

	&__content {		
		// border-radius: 2.08vw;		
	}

	&__supported {
		display: flex;
		align-items: center;
		margin-bottom: 26px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-bottom: 1.35vw;
		}

		@media (min-width: 1920px) {
			margin-bottom: 1.8vw;
		}
	}

	&__supported-title {
		font-size: 14px;
		font-weight: 700;
		color: #142438;		
		margin-right: 5px;		

		span {
			color: var(--primary-blue);
		}
	}
	
	&__supported-item-title {
		font-size: 14px;
		font-weight: 500;
		opacity: .45;
		margin-right: 5px;
	}

	&__supported-list {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__supported-item {
		display: flex;
		align-items: center;
	}

	&__supported-logos {
		margin-right: 3px;

		@media (max-width: 1280px), (min-width: 1920px) {
			margin-right: .16vw;
		}
	}

	&__supported-logos-more {
		font-size: 12px;
		font-weight: 700;
		color: var(--primary-blue);
		text-decoration: none;

		@media (max-width: 1280px), (min-width: 1920px) {
			font-size: .625vw;
		}

		@media (min-width: 1920px) {
			font-size: .8vw;
		}
	}

	&__tabs {
		display: flex;
		flex-direction: column;		
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateX(100%) translateY(-50%);
		z-index: 1;
		border-radius: 0 16px 16px 0;
		background-color: #fff;		

		&::before,
		&::after {
			content: '';			
			width: 8px;
			height: 8px;
			background: url('../../img/soft-corner-icon.svg') no-repeat left top;
			background-size: contain;
			position: absolute;
			z-index: 1;
		}
		
		&::before {			
			transform: rotate(-90deg);			
			left: 0;
			top: -8px;
		}

		&::after {						
			left: 0;
			bottom: -8px;
		}
	}

	&__tab {		
		text-decoration: none;
		font-weight: 700;
		font-size: 12px;		
		color: #292D32;
		transition: .1s all;			
		position: relative;
		padding: 6px;
		
		span {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5px;
			width: 55px;
			height: 55px;
			border: 1px solid #EAEEFB;
			border-radius: 10px;
		}

		svg {
			transition: .1s all;
		}

		&:hover {
			color: var(--primary-blue);			

			svg {
				fill: var(--primary-blue);
			}

			span {
				background-color: #EBF5FF;
				border-color: #EBF5FF;
			}
		}

		&.active {
			color: white;
			border-radius: 0 18px 18px 0;
			box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.04);	
			z-index: 1000;

			svg {
				fill: white;
			}

			span {
				background-color: var(--primary-blue);
			}
		}
	}
}