.transfer-form {

  &__title {
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 25px 0;
  }

  &__form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;

    @media (max-width: 1240px) {
      flex-direction: column;
      align-items: flex-start;
    }

    & .select {
      flex: auto;
      margin-right: 12px;

      @media (max-width: 1240px) {
        width: 50%;
        margin-bottom: 20px;
      }

      @media (max-width: 920px) {
        width: 100%;
      }
    }
  }

  &__change-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all .2s;
    margin-right: 12px;

    &:hover {
      box-shadow: 0px 2px 12px #ACCFFB;
    }

    @media (max-width: 1240px) {
      margin-bottom: 20px;
    }
  }

  &__input-block {
    flex: auto;
    margin-right: 20px;

    .transfer-form__input {
      display: flex;
      flex: auto;

      input {
        flex: auto;
        width: 100%;
      }
    }

    @media (max-width: 1240px) {
      width: 50%;
      margin-bottom: 20px;
    }

    @media (max-width: 920px) {
      width: 100%;
    }
  }

  &__input-block-title {
    display: block;
    font-size: 16px;
    color: $font-light;
    margin-bottom: 8px;
  }

  &__input {
    display: flex;
    align-items: center;
    flex: auto;
    position: relative;
    background-color: white;
    border: #E5E5EC 1px solid;
    border-radius: 8px;
    height: 60px;
    cursor: pointer;
    padding: 5px 5px 5px 14px;

    &-currency-sign {
      font-size: 21px;
      font-weight: 500;
    }

    input {
      height: 50px;
      border: none;
      font-size: 21px;
      font-weight: 500;
      margin-right: 10px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #D8D8D8;
      }
    }

    button {
      display: flex;
      align-items: center;
      flex: none;
      border-radius: 4px;
      background-color: #F5F6F8;
      border: none;
      height: 50px;
      cursor: pointer;
      padding: 0 14px;

      span {
        margin-right: 8px;
      }
    }
  }

  &__submit-button {
    height: 60px;
    padding: 0 52px;
  }

  &__total-fee {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #E5E5EC;
    padding-top: 15px;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      color: $font-light;
      margin: 0;

      span {
        color: $blue;
      }
    }
  }
}
